@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif !important;
}


/* the new */
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    transition: 0.5s ease;
}

header .logo0{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
    
}

header .navigation0{
    position: relative;
    margin-right: 0;
    padding: 20;
}

header .navigation0 .navigation-items0 a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation0 .navigation-items0 a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation0 .navigation-items0 a:hover:before{
    width: 100%;
}

.home0{
    padding: 100px 200px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}

.home0:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3, 96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home0 .content0{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home0 .content0.active{
    display: block;
}

.home0 .content0 h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home0 .content0 h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home0 .content0 p{
    margin-bottom: 65px;
}

.home0 .content0 a{
    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home0 .media-icons0{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home0 .media-icons0 a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home0 .media-icons0 a:not(:last-child){
    margin-bottom: 20px;
}

.home0 .media-icons0 a:hover{
    transform: scale(1.3);
}

.home0 video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation0{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation0 .nav-btn0{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation0 .nav-btn0.active{
    background: #2696E9;
}

.slider-navigation0 .nav-btn0:not(:last-child){
    margin-right: 20px;
}

.slider-navigation0 .nav-btn0:hover{
    transform: scale(1.2);
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

@media (max-width: 1040px){
    header {
        padding: 12px 20px;
    }

    .home0{
        padding: 100px 20px;
    }

    .home0 .media-icons0{
        right: 15px;
    }

    header .navigation0{
        display: none;    
    }

    header .navigation0.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation0 .navigation-items0 a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation0 .navigation-items0 a:before{
        background: #222;
        height: 5px;
    }

    header .navigation0.active .navigation-items0{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn0{
        background: url(images/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn0.active{
        z-index: 999;
        background: url(images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

/*The End*/






/*About section*/

.about{
	padding:80px 0px;
	background-color:#ffffff;
}

.about .content{ 
 -webkit-display: flex;
 display: flex;
}
.about .content .box{
	flex:0 0 33.33%;
	max-width: 25%;
	padding:30px;
}
.about .content .box .inner{
	background-color:hsl(212, 32%, 40%);
}
.about .content .box:nth-child(2) .inner{
	background-color: #444444;
}
.about .content .box .inner .img img{
	width: 100%;
}
.about .content .box .inner .text{
	padding:30px;
}

.about .content .box .inner .text h4{
  font-size: 20px;
  margin:0;
  padding: 0px 0px 15px;
  font-weight: 500;
  color:#ffffff;
 text-transform: capitalize;
  text-align: center;
}
.about .content .box .inner .text p{
	font-size: 15px;
	line-height:20px;
	color:#ffffff;
	text-align: center;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}


/*Service Section*/
.service{
	padding:80px 0px;
	background-color: #444444;
}

.service .content{
	-webkit-display:flex;
	display:flex;
}

.service .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding:15px;
}

.service .content .text h2{
	font-size: 30px;
	font-weight: 500;
	color:#ffffff;
	padding:0px 0px 20px;
}

.service .content .text p{
    font-size: 15px;
	line-height:20px;
	color:#ffffff;
	margin:0;
	padding:0px 0px 20px;
	font-family: 'Open Sans', sans-serif;
}

.service .content .text .btn{
	padding:8px 30px;
	background-color: #222222;
	color:#ffffff;
	text-decoration: none;
	display: inline-block;
	border:1px solid transparent;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.service .content .text .btn:hover{
	border:1px solid #ffffff;
	color:#ffffff;
	background-color: transparent;
}
.service .content .accordian-container{
	margin-bottom: 5px;
}
.service .content .accordian-container .head{
	background-color:rgba(0,0,0,0.2);
	position: relative;
	padding:12px 15px;
	cursor: pointer;
}
.service .content .accordian-container .head .fa{
	position: absolute;
	right: 10px;
	top:13px;
	color:#ffffff;
	height:30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	color:#ffffff;
	border-radius: 50%;
}
.service .content .accordian-container .head h4{
  font-size: 20px;
  margin:0;
  padding:0;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
}
.service .content .accordian-container.active .head{
  background-color: #222222;	
}
.service .content .accordian-container .body{
	display: none;
	padding:15px;
	background-color: #222222;
	border-top:1px solid #333333;
}

.service .content .accordian-container:nth-child(1) .body{
	display: block;
}
.service .content .accordian-container .body p{
    font-size: 15px;
	line-height:20px;
	color:#ffffff;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;	
}


/*Classes Section*/
.classes .content .box{
	padding:30px;
	flex:0 0 50%;
	max-width: 50%;
}

.box text wow slideInRight{
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  padding: 15px 30px 0px;
}

 p2{
font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0px 35px 30px;
  font-family: 'Open Sans', sans-serif;
}




.item-img{
  width: 100%;
}
.item{
  background-color: 
  #444444;;
  height: 100%;
  color: white;
  padding-top: 30px;
  text-align: center;

}
.item a{
  text-decoration: none;
  color: white;
}



/*Start Today Section*/
.start-today{
	background-color: #222222;
}

.start-today .content{
	-webkit-display: flex;
	display: flex;
	align-items: center;
}

.start-today .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding:0px 15px;
}

.start-today .content .img img{
	width: 100%;
	display: block;
}

.start-today .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    padding: 0px 0px 20px;
}

.start-today .content .text p{
	font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 20px;
    font-family: 'Open Sans', sans-serif;
}

.start-today .content .text .btn{
	padding: 8px 30px;
    background-color: #444444;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.start-today .content .text .btn:hover{
	color:#ffffff;
	border-color: #ffffff;
	background-color: transparent;
}




/*Class Schedule Section*/
.schedule{
	padding:80px 0px;
}

.schedule .content{
	-webkit-display: flex;
	display: flex;
}

.schedule .content .box{
	flex:0 0 50%;
	max-width: 100%;
	padding:15px;
}

.schedule .content .text h2{
   font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
}

.schedule .content .text p{
	font-size: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    padding: 0px 0px 20px;
    font-family: 'Open Sans', sans-serif;
}
.schedule .content .text img{
	width: 100%;
	transform: rotateY(180deg);
}

.schedule .content .timing .table{
	width: 100%;
	border-collapse: collapse;
}

.schedule .content .timing .table td{
	border:1px solid #dfdfdf;
	padding: 8px;
	font-size: 15px;
	text-align: center;
	color:#222222;
}

.schedule .content .timing .table tr:nth-child(even) td.day{
	background-color: #222222;
}
.schedule .content .timing .table tr:nth-child(odd) td.day{
	background-color: #444444;
}
.schedule .content .timing .table tr:nth-child(1) td.day{
	background-color: #c11325;
}
.schedule .content .timing .table tr td.day{
	color:#ffffff;
	border-color:transparent;
}


/*Gallery Section*/

.gallery .content{
	-webkit-display: flex;
	display: flex;
	flex-wrap: wrap;
}

.gallery .content .box{
	flex:0 0 50%;
	max-width: 50%;	
}
.gallery .content .box img{
	display: block;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.gallery .content .box img:hover{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.gallery h2{
	font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
    text-align: center;
}


/*Price Section*/


/*Contact Section*/

.contact{
	padding:30px 0px;
	background-color:hsl(212, 16%, 18%);
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea{
 height: 45px;
 width: 100%;
 padding:6px 12px;
 margin-bottom: 25px;
 background-color: transparent;
 border:1px solid #767268;
 font-family: 'Open-sans',sans-serif;
 color:#444444;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus{
 outline: none;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
	color:#444444;
}
.contact .content .form textarea{
	height: 100px;
}

.contact .content .form button{
	border:none;
	outline: none;
	box-shadow: none;
	height: 45px;
	padding:0px 50px;
	border:1px solid transparent;
	background-color:#444444;
	color:#fff;
	font-size: 15px;
	transition: all .5s ease;
	cursor: pointer;
}
.contact .content .form button:hover{
	background-color:transparent;
	color:#6f7072; 
    border-color:#767268;
}

.contact .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color:#444444;
    padding: 0px 0px 20px;
}
.contact .content .text p{
    font-size: 15px;
    line-height: 20px;
    color: #444444;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open-sans', sans-serif;
}

.contact .content .text .info ul{
	list-style: none;
	padding:0;
	margin:0;
}

.contact .content .text .info li{
	display: block;
	margin-bottom: 15px;
	color:#444444;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-Sans',sans-serif;
}
.contact .content .text .info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 20px;
	color:#444444;
}
.contact .content .text .social {
	padding-top: 30px;
}
.contact .content .text .social a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color:#444444 ;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .text .social a:hover{
	background-color: transparent;
    border-color: #444444;
}

.contact .content .text .social a span{
	color:#444444;
	font-size: 20px;
}

.contact .content .text .copy{
	border-top:1px solid #333333;
	margin-top: 30px;
	padding-top: 20px;
	color:#444444;
	font-size: 15px;
}




/*Responsive*/

/*if screen width is less than or equal to 991px then*/
@media(max-width: 991px){
   .home{
   	background-position: center;
   }
  .classes .content{
  	flex-wrap: wrap;
  }
 .classes .content .box {
    flex: 0 0 100%;
    max-width: 50%;
}
.classes .content .img{
	display: none;
}
.start-today .content .box{
	padding:15px;
}
}

/*if screen width is less than or equal to 767px then*/
@media(max-width: 400px){
  .home h1{
      font-size: 40px;
  }
  .about .content{
  	 flex-wrap: wrap;
  }
  .about .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.service .content{
	flex-wrap: wrap;
}
.service .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.classes .content .class-items .item{
	flex-wrap: wrap;
}
.classes .content .class-items .item .item-text, 
.classes .content .class-items .item .item-img {
    flex: 0 0 100%;
    max-width: 100%;
}
.schedule .content{
	flex-wrap: wrap;
}
.schedule .content .box{
flex: 0 0 100%;
    max-width: 100%;	
}
.start-today .content{
	flex-wrap: wrap;
}
.start-today .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
 .gallery .content{
  flex-wrap: wrap;
 }
.gallery .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.price-package .content{
	flex-wrap: wrap;
}
.price-package .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .content{
	flex-wrap: wrap;
}
.contact .content .box {
    flex: 0 0 100%;
    max-width: 100%;
}
}

/*if screen width is less than or equal to 550px then*/
@media(max-width: 550px){
  .home h1{
      font-size: 30px;
  }
}

  /*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(0, 0%, 100%);
  --first-color-light: hsl(200, 7%, 92%);
  --first-color-alt: hsl(203, 93%, 56%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container0 body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

.container0 a{
  text-decoration: none;
}

.container0 img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container0 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: vh;
}







.container0 .card__container {
  padding-block: 5rem;
}

.container0 .card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}



.container0 .card__article {
  width: 300px; /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
}

.container0 .card__image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
}

.container0 .card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.container0 .card__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.container0 .card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.container0 .card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.container0 .card__description {
  font-weight: 500;
  color:var(--first-color);
  margin-bottom: 1.75rem;
}

.container0 .card__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}


.container1 body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--white-color);
  }
  
  .container1 a{
	text-decoration: none;
  }
  
  .container1 img {
	display: block;
	max-width: 100%;
	height: auto;
  }
  
  /*=============== CARD ===============*/
  .container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height:1vh;
  }
  
  .container1 .card__container {
	padding-block: 5rem;
  }
  
  .container1 .card__content {
	margin-inline: 1.75rem;
	border-radius: 1.25rem;
	overflow: hidden;
  }
  
  .container1 .card__article {
	width: 300px; /* Remove after adding swiper js */
	border-radius: 1.25rem;
	overflow: hidden;
  }
  
  .container1 .card__image {
	position: relative;
	background-color: var(--first-color-light);
	padding-top: 1.5rem;
	margin-bottom: -.75rem;
  }
  
  .container1 .card__data {
	background-color: var(--container-color);
	padding: 1.5rem 2rem;
	border-radius: 1rem;
	text-align: center;
	position: relative;
	z-index: 10;
  }
  
  .container1 .card__img {
	width: 180px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
  }
  
  .container1 .card__shadow {
	width: 200px;
	height: 200px;
	background-color: var(--first-color-alt);
	border-radius: 50%;
	position: absolute;
	top: 3.75rem;
	left: 0;
	right: 0;
	margin-inline: auto;
	filter: blur(45px);
  }
  
  .container1 .card__name {
	font-size: var(--h2-font-size);
	color: var(--second-color);
	margin-bottom: .75rem;
  }
  
  .container1 .card__description {
	font-weight: 500;
	margin-bottom: 1.75rem;
  }
  
  .container1 .card__button {
	display: inline-block;
	background-color: var(--first-color);
	padding: .75rem 1.5rem;
	border-radius: .25rem;
	color: var(--dark-color);
	font-weight: 600;
  }
  
  /* Swiper class */
  .swiper-button-prev0:after,
  .swiper-button-next0:after {
	content: "";
  }
  
  .swiper-button-prev0,
  .swiper-button-next0 {
	width: initial;
	height: initial;
	font-size: 3rem;
	color: var(--second-color);
	display: none;
  }
  
  .swiper-button-prev0 {
	left: 0;
  }
  
  .swiper-button-next0 {
	right: 0;
  }
  
  .swiper-pagination-bullet {
	background-color: hsl(212, 32%, 40%);
	opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
	background-color: var(--second-color);
  }
  
  /*=============== BREAKPOINTS ===============*/

  .footer {
  background-color: var(--primary-color-light);
}

:root {
	--primary-color:hsl(212, 16%, 18%);
	--primary-color-dark:hsl(212, 32%, 40%);
	--primary-color-light: #e9f7f7;
	--secondary-color:hsl(212, 32%, 40%);
	--text-dark: #333333;
	--text-light: #767268;
	--white: #ffffff;
	--max-width: 1200px;
  }

.footer__container {
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col h3 span {
  color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col i {
  color: var(--primary-color);
}

.footer__bar {
  background-color: var(--primary-color);
}

.footer__bar__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__bar__content p {
  font-size: 0.8rem;
  color: var(--white);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}

@media (width < 900px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .about__content {
    text-align: center;
  }

  .why__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__content {
    text-align: center;
  }

  .why__grid {
    text-align: left;
  }

  .doctors__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 780px) {
  .nav__links {
    display: none;
  }

  .header__container {
    flex-direction: column;
  }
}

@media (width < 600px) {
  .service__header {
    flex-direction: column;
    text-align: center;
  }

  .service__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__grid {
    column-gap: 1rem;
  }

  .doctors__header {
    flex-direction: column;
    text-align: center;
  }

  .doctors__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__bar__content {
    flex-direction: column;
    gap: 1rem;
  }
}

/*why choose us*/

.why__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.why__image img {
  max-width: 430px;
  margin: auto;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 40px;
}

.section__header {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.why__content p {
  color: var(--text-light);
}

.why__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 80px auto;
  gap: 2rem;
}

.why__grid span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.doctors__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.doctors__header__content p {
  max-width: 600px;
  color: var(--text-light);
}

.doctors__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.doctors__nav span {
  padding: 5px 15px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  cursor: pointer;
}

.doctors__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.doctors__card {
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.doctors__card__image {
  position:relative;
  overflow: hidden;
   max-height:350px ;
  
}

.doctors__socials {
  position: absolute;
  left: 0;
  bottom: -4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.5s;
}

.doctors__socials span {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.5rem;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.doctors__socials span:hover {
  color: var(--primary-color);
}

.doctors__card:hover .doctors__socials {
  bottom: 2rem;
}

.doctors__card h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.doctors__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #444444;
}

.modal-h {
  font-size: 30px;
  font-weight: 7ß00;
  margin-left: 30% !important;
}

.modal-dialog {
  margin-right: 40% !important;
}

.modal-content {
  padding: 0px 60px !important;
}

.modal-style {
  margin-top: 30% !important;
  width: 770px;
  height: 280px;
}

.modal-a {
  text-decoration: none;
  color: rgb(43, 112, 183);
  font-size: 25px;
}

.section2 h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 0.6;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
}

.btn-mod {
  border: 0;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 873px;
  margin: 60px 0 25px;
}

.search-container input[type="search"] {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px;
  border: 1px solid rgb(224, 224, 224);
  font-size: 18px;
  direction: rtl;
  text-indent: 30px;
  padding: 15px;
}

.fa-search {
  position: absolute;
  right: 25px;
  bottom: 33%;
  font-size: 20px;
  color: rgb(128, 129, 132);
}

.section2 label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.section2 label div {
  font-size: 22px;
  color: black;
  text-align: center;
  margin-top: 20px;
}

.section2-icons {
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.fa-phone-alt {
  font-size: 40px;
  color: rgb(0, 112, 205);
}

.icon-holder {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  position: relative;
}

.icon-holder + div {
  text-align: center;
  width: 70%;
  font-weight: 700;
}

[type="file"] {
  width: 10px;
  height: 10px;
  z-index: -1;
  opacity: 0;
  position: absolute;
}

.section3 {
  height: auto;
}

.section4 {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
  background-color: rgb(245, 245, 245);
}

.section4 p {
  color: rgb(128, 129, 132);
  font-size: 16px;
  text-align: center;
}

.section4 h3 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.section4 div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.section4 div img {
  margin-top: 0px;
  margin-right: 20px;
}

.footer-container {
  display: flex;
  direction: rtl;
  justify-content: space-between;
  padding: 30px;
}

.footer-right {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-right img {
  width: auto;
  height: 20px;
  margin-bottom: 30px;
}

.footer-right ul {
  padding: 0px;
  list-style-type: none;
  color: rgb(128, 129, 132);
  font-weight: 500;
}

.footer-right ul li {
  padding: 5px;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.social-media-container a {
  text-decoration-line: none;
  text-decoration: none;
  font-size: 20px;
  display: table-cell;
}

.social-media-container i {
  color: rgb(0, 112, 205);
  margin-left: 30px;
  font-size: 35px;
}

@media (max-width: 767.98px) {
  .offcanvas-style {
    direction: rtl;
  }

  .can-show {
    display: inline-block;
  }

  img.can-show {
    width: auto;
    height: 80px;
  }

  .can-style {
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.5);
    border-top: 0.3px solid rgba(255, 255, 255, 0.2);
    padding: 15px 0px;
    font-weight: 700;
  }

  .can-spaces {
    padding: 0px;
    margin: 0px;
  }

  .can-hide {
    display: none;
  }

  .section1 {
    justify-content: space-around;
    padding: 30px 0px 10px;
  }

  .main-banner-icons img {
    width: auto;
    height: 50px;
  }

  .main-banner-icons div {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 15px 0px;
    width: 60%;
  }

  .main-banner {
    width: 90%;
    padding: 0px 10px;
  }

  .section1 h1 {
    font-size: 27px;
    font-weight: 500;
    text-align: right;
    margin: 10px 10px 20px 0px;
  }

  .section2 {
    padding: 25px 0px;
  }

  .section2 h2 {
    font-size: 20px;
  }
  .search-container {
    position: relative;
    width: 90%;
    max-width: 873px;
    margin: 20px;
    padding: 0;
  }

  .section2 label div {
    font-size: 15px;
    margin-top: 20px;
  }

  .section2-icons {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .icon-holder {
    height: 60px;
    width: 60px;
    position: relative;
  }

  .icon-holder img {
    width: 25px;
    height: auto;
    margin: 0 !important;
  }

  .fa-phone-alt {
    font-size: 25px;
  }
  .icon-holder {
    border: 1px solid rgb(0, 112, 205);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 85px;
    position: relative;
  }

  .icon-holder + div {
    text-align: center;
    width: 70%;
    font-weight: 700;
  }
  
  [type="file"] {
    width: 10px;
    height: 10px;
    z-index: -1;
    opacity: 0;
    position: absolute;
  }
  
  .section3 {
    height: auto;
  }
  
  .section4 {
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    background-color: rgb(245, 245, 245);
  }
  
  .section4 p {
    color: rgb(128, 129, 132);
    font-size: 16px;
    text-align: center;
  }
  
  .section4 h3 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }
  
  .section4 div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .section4 div img {
    margin-top: 0px;
    margin-right: 20px;
  }
}


.iconsss1 {
  width: 40px;
  padding-right: 10px;
}
.iconsss2 {
  width: 50px;
  padding-right: 10px;
}
.iconsss3 {
  width: 50px;
  padding-left: 10px;
}


.title{
  margin-bottom: 50px;
}
.boxxx{
  width: 75% !important ;
  margin-left: 150px;
}

.book{
  text-decoration: none;
  color: #767268;
}




















.dropdown-item span {
  color: #0070cd;
}

@media screen and (max-width: 768px) {
  #navbarNavDropdown {
    padding: 0%;
  }
}



.carousel {
  margin-top: -1.8%;
}

/**************  end slider ******************/
/************start container slider****************/
.carousel-item {
  opacity: 0.2;
}

.carousel-inner {
  position: relative;
}

.sliderContent {
  position: absolute;
  padding: 0% 5%;
}

.top {
  color: #6f7072;
}

.bottom {
  margin-top: 8%;
}

.second {
  height: 9em;
}

.reserve {
  text-decoration: none;
  justify-content: center;
  color: #6f7072;
}
.reserve:hover {
  text-decoration: none;
  border-bottom: 2px solid #0070cd;
}
.reserve div:first-child {
  align-self: center;
  padding: 3%;
}
.reserve div:first-child i {
  font-size: 5rem;
}

.call {
  text-decoration: none;
  justify-content: center;
  color: #6f7072;
}
.call:hover {
  text-decoration: none;
  border-bottom: 2px solid #0070cd;
}
.call div:first-child {
  align-self: center;
  padding: 3%;
}
.call div:first-child i {
  font-size: 5rem;
}

.reserve1 {
  border: 1px solid black;
  margin: 0% 1%;
  border-radius: 10px;
  justify-content: space-between;
  margin-top: 2%;
}
.reserve1 h5 {
  color: #6f7072;
}
.reserve1 h3 {
  color: #0070cd;
  font-size: 1.5em;
}
.reserve1 div {
  border-left: 1px solid #6f7072;
}
.reserve1 div:last-child {
  border-left: none;
  padding: 1%;
  margin: -8%;
  color: white;
  text-align: center;
}
.reserve1 div:last-child h3 {
  color: white;
  font-size: 2rem;
  padding: 1%;
}
.reserve1 div:last-child h3:hover {
  cursor: pointer;
}

.call1 {
  position: absolute;
  border: 1px solid black;
  margin: 1% 25%;
  border-radius: 13px;
}
.call1 .c1 h5 {
  color: #6f7072;
}
.call1 .c1 h3 {
  color: #0070cd;
}
.call1 .c2 {
  border-left: none;
  padding: 1.8%;
  margin: -1.1%;
  border-radius: 12px;
  color: white;
  text-align: center;
}
.call1 .c2 h3 {
  color: white;
  font-size: 2rem;
  padding: 1%;
}
.call1 .c2 h3:hover {
  cursor: pointer;
}

.rr {
  margin-right: -7%;
}

@media screen and (max-width: 768px) {
  .top h1, .top h2 {
    font-size: 22px;
    line-height: 15%;
  }

  .rr {
    width: fit-content;
  }
  .rr h3 {
    font-size: 20px;
  }

  .bottom {
    margin-top: -4%;
  }
}
.bottomMob {
  margin: -6em auto;
}
.bottomMob .firstMob {
  padding: 2%;
  background-color: #e5f1ff;
}
.bottomMob .firstMob a:hover {
  background-color: #0070cd;
  color: #e5f1ff;
}
.bottomMob h4 i {
  font-size: 1.3em;
}

.secondMob {
  margin: 0em -1.2em 0em 0.3em;
}

#clinic h4 {
  text-align: center;
}
#clinic h4 a {
  text-decoration: underline;
  color: #0070cd;
}

#drug {
  margin-top: -12em;
}
#drug a {
  text-decoration: underline;
  color: #0070cd;
}

#calldoc {
  margin-top: -12em;
}
#calldoc a {
  text-decoration: underline;
  color: #0070cd;
}

/************end container slider****************/
/****************** start part2 *******************/
.part2Card {
  background-image: url("../Images/home/part2BG.png");
  background-repeat: round;
  color: white;
  padding: 0.5em;
}
.fs-2{
  text-decoration: none;
  color: #6f7072;
}
.part2Card p {
  font-size: 1.5em;
}
.part2Card a {
  color: #fff;
}
.part2Card a:hover {
  color: #0070cd;
}

.part2Head {
  font-size: 3em;
  color: #6f7072;
}

.part2bCard {
  flex-direction: row;
}
.part2bCard div:first-child {
  width: 10em;
}
.part2bCard div:nth-child(2) {
  padding-top: 0.2em;
  color: #6f7072;
}
.part2bCard div:nth-child(2) p {
  font-size: 1.3em;
}
.part2bCard div:nth-child(2) a {
  margin-left: 0.2em;
}
.part2bCard div:nth-child(2) a:hover {
  text-decoration: none;
}

.p {
  background-color: #e2e6ea;
  padding-bottom: 2em;
}

@media all and (min-width: 375px) and (max-width: 767px) {
  .part2Head {
    width: max-content;
    
  }

  .smDIV {
    width: 13em;
  }

  .part2Card {
    background-image: none;
    flex-direction: row;
  }
  .part2Card div:first-child {
    color: #0070cd;
    background-image: url("../Images/home/part2BGSM.png");
    width: 7em;
    background-repeat-y: no-repeat;
  }
  .part2Card div:nth-child(2) {
    color: #6f7072;
  }
  .part2Card div:nth-child(2) a {
    background-color: #e5f1ff;
    color: #0070cd;
    width: 100px;
  }

  .part2 div:first-child {
    margin-top: 5em;
    font-size: 0.8em;
  }

  .part2bCard {
    flex-direction: column;
  }
  .part2bCard div:nth-child(2) p {
    font-size: 1em;
  }
}
@media all and (min-width: 768px) {
  .part2bCard p {
    width: max-content;
  }

  .i {
    height: 10em;
    
  }
}
/**************** end part2 ******************/
/**************** start part3 ******************/
#carousel div {
  cusror: pointer;
  opacity: 1;
}
#carousel h5 {
  font-size: 1.8em;
}
#carousel span:first-child {
  text-decoration: line-through;
  padding-left: 0.5em;
  color: #dbd9d9;
}
#carousel span:nth-child(2) {
  color: #0070cd;
}

#sliderBtn, #sliderBtn2 {
  width: 3em;
  height: 3em;
  border: 1px solid #6f7072;
  border-radius: 7px;
}

#sliderBtn {
  top: 8em;
  left: -4em;
}
#sliderBtn i {
  color: #6f7072;
}

#sliderBtn2 {
  top: 8em;
  right: -4em;
}
#sliderBtn2 i {
  color: #6f7072;
}

.part3logo img {
  width: -webkit-fill-available;
}

.arr {
  color: #6f7072;
}

.descound {
  top: 5%;
  left: 85%;
}

#p3 {
  color: #6f7072;
}

@media all and (min-width: 375px) and (max-width: 767px) {
  .part3logo {
    width: 4em;
    height: 7em;
  }

  .c {
    font-size: 1.8em;
    font-weight: bolder;
  }

  .cT {
    font-size: 1.3em !important;
  }

  #carsour div div h5 {
    font-size: 1.3em;
  }
}
@media all and (min-width: 768px) {
  .cT {
    font-size: 1.8em;
  }

  #carsour div div h5 {
    font-size: 1.3em;
  }
}


* {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.iteamNav a:hover {
  color:#444444;
  border-block: 1px solid white;
}


/* form signup */
.iteam-form {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#form {
  justify-content: center;
  border-radius: 11px 11px 11px 11px;
  background-color: rgb(42, 41, 41);
  width: 100%;
  height: auto;
  margin: 1rem auto;

}

#one {
  border-radius: 11px 11px 0px 0px;
  font-size: 16px;
  background-color: rgb(0, 112, 205);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 1.8rem;
}

#butt {
  position: relative;
  font-size: 14px;
  outline: 0px;
  padding: 5px 16px 5px 44px;
  color: rgb(255, 255, 255);
  background-color: rgb(66, 103, 178);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  margin: 25px auto;
}

label  

  hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}



















/* .show-popup {
  padding: 18px 40px;
  background: #6e78ff;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 500;
}
.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
}
.popup-container .popup-box {
  width: 500px;
  background: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 30px;
  transform: scale(0);
}
.popup-container.active .popup-box {
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
}
.popup-box h1 {
  color: #333;
  line-height: 1;
}
.popup-box p {
  color: #333;
  margin: 12px 0 20px;
}
.popup-box .close-btn {
  width: 100%;
  height: 45px;
  background: #6e78ff;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 500;
} */





/* the new */
.btn-transparent{
  border: 1px solid #fff;
  
}
.suggest-btn{
  color: #fff;
  background-color: #fff;
}
.mt-20px{
  margin-top: 20px;
}

/*Work*/
.work{
  position: relative;
  margin-top: -80px;
}
.hours{
  background: #01ca8b;
  border-radius: 10px;
  padding: 40px 50px;
}
.hours h2{
  color: #fff;
  font-weight: 900;
  margin: 0 0 30px;
}
.time{
  border-top: 1px solid rgba(255 255 255 / 0.52);
  padding: 30px 0; 
}
.time:last-child{
  padding-bottom: 0;
}
.time h4, .time p{
  text-align: left;
  color: #fff;
  font-weight: 600;
}
.booking{
  display: inline-block;
  width: 33%;
  margin-left: -4px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
.btn-white{
  background: #fff;
  color: #01ca8b;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 4px 10px;
}
.btn-white i{
  margin-right: 4px;
}
.response{
  border-radius: 10px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.response-bg{
  height: 260px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.4s ease-in-out;
}
.response a:hover .response-bg{
  transform: scale(1.04);
}
.response-content{
  padding: 90px 30px 30px;
  text-align: left;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  background: #fff;
  position: relative;
  margin-top: -70px;
}
.response-icon{
  background: #01ca8b;
  border-radius: 2px;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.response-icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}
.response-content h2{
  color: #000;
  font-weight: 800;
  line-height: 36px;
}
.response-content p{
  color: #8b8b8b;
  font-size: 15px;
  margin: 25px 0 0;
}
.read-more{
  border: none;
  outline: none;
  background: transparent;
  color: #01ca8b;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.read-more i{
  margin-left: 4px;
  transition: 0.2s ease-in-out;
}
.response a:hover .read-more{
  color: #000;
}
.responsea:hover .read-more i{
  color: #01ca8b;
  margin-left: 6px;
}.b777{
  background-color: #407fd7;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 10px;

  display: inline-block;
  text-decoration: none;
  margin: 4px 2px;
margin-left: 30px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;

}

/* تغيير اتجاه النص في اللغة العربية إلى اليمين */
#AboutUs.arabic {
  direction: rtl;

}
#labs.arabic {
  direction: rtl;
}
#sevices.arabic {
  direction: rtl;
}
#ph.arabic {
  direction: rtl;
}
#phs.arabic {
  direction: rtl;
}
#mental.arabic {
  direction: rtl;
}
#Dentists.arabic {
  direction: rtl;
}
#Specialist.arabic {
  direction: rtl;
}
#h1.arabic {
  direction: rtl;
}
#p1.arabic {
  direction: rtl;
}
#book.arabic {
  direction: rtl;
}
#h2.arabic {
  direction: rtl;
}
#p2.arabic {
  direction: rtl;
}
#book2.arabic {
  direction: rtl;
}
#h3.arabic {
  direction: rtl;
}
#p3.arabic {
  direction: rtl;
}
#book3.arabic {
  direction: rtl;
}
#h4.arabic {
  direction: rtl;
}
#p4.arabic {
  direction: rtl;
}
#book4.arabic {
  direction: rtl;
}
#h5.arabic {
  direction: rtl;
}
#p5.arabic {
  direction: rtl;
}
#book5.arabic {
  direction: rtl;
}
#h22.arabic {
  direction: rtl;
  padding-right: 25px;
}
#choose1.arabic {
  direction: rtl;
  padding-right: 25px;
}
#h23.arabic{
  direction: rtl;
  padding-right: 25px;
}
#choose2.arabic{
  direction: rtl;
  padding-right: 25px;
}
#h24.arabic{
  direction: rtl;
  padding-right: 25px;
}
#choose3.arabic{
  direction: rtl;
  padding-right: 25px;
}
#h25.arabic{
  direction: rtl;
  padding-right: 25px;
}
#choose4.arabic{
  direction: rtl;
  padding-right: 25px;
}
#service1.arabic{
  direction: rtl;
  padding-right: 25px;
}
#service2.arabic{
  direction: rtl;
  padding-right: 25px;
}
#service3.arabic{
  direction: rtl;
  padding-right: 25px;
}
#service4.arabic{
  direction: rtl;
}
#service5.arabic{
  direction: rtl;
  padding-right: 30px;
}
#service6.arabic{
  direction: rtl;
  padding-right: 30px;
}
#service7.arabic{
  direction: rtl;
  padding-right: 30px;
}
#service8.arabic{
  direction: rtl;
  padding-right: 30px;
}
#service9.arabic{
  direction: rtl;
  padding-right: 30px;
}
#service10.arabic{
  direction: rtl;
  padding-right: 30px;
}
#service11.arabic{
  direction: rtl;
  padding-right: 30px;
}
#service12.arabic{
  direction: rtl;
  padding-right: 30px;
}
#class1.arabic{
  direction: rtl;
}
#class2.arabic{
  direction: rtl;
  padding-top: 30px;
}
#class3.arabic{
  direction: rtl;
  padding-top: 30px;
}
#class4.arabic{
  direction: rtl;
}
#class5.arabic{
  direction: rtl;
  padding-top: 30px;
}
#class6.arabic{
  direction: rtl;
  padding-top: 30px;
}
#today1.arabic{
  direction: rtl;
}
#today2.arabic{
  direction: rtl;
}
#today4.arabic{
  direction: rtl;
}
#today3.arabic{
  direction: rtl;
}
#about1.arabic{
  direction: rtl;
}
#about2.arabic{
  direction: rtl;
}
#about3.arabic{
  direction: rtl;
}
#about4.arabic{
  direction: rtl;
}
#about5.arabic{
  direction: rtl;
}
#about6.arabic{
  direction: rtl;
}
#about7.arabic{
  direction: rtl;
}
#about8.arabic{
  direction: rtl;
}
#about9.arabic{
  direction: rtl;
}
#about10.arabic{
  direction: rtl;
}
#about11.arabic{
  direction: rtl;
}
#about12.arabic{
  direction: rtl;
}
#about13.arabic{
  direction: rtl;
}
#about14.arabic{
  direction: rtl;
}
#about15.arabic{
  direction: rtl;
}
#about16.arabic{
  direction: rtl;
}
#pharmacy1.arabic{
  direction: rtl;
}
#pharmacy2.arabic{
  direction: rtl;
}
#pharmacy3.arabic{
  direction: rtl;
}
#pharmacy4.arabic{
  direction: rtl;
}
#pharmacy5.arabic{
  direction: rtl;
}
#gallery1.arabic{
  direction: rtl;
}
#doctor1.arabic{
direction: rtl;
}
#doctor2.arabic{
direction: rtl;
}
#doctor3.arabic{
direction: rtl;
}
#doctor4.arabic{
direction: rtl;
}
#doctor5.arabic{
direction: rtl;
}
#doctor6.arabic{
direction: rtl;
}
#doctor7.arabic{
direction: rtl;
}
#doctor8.arabic{
direction: rtl;
}
#doctor9.arabic{
direction: rtl;
}
#doctor10.arabic{
direction: rtl;
}
#doctor11.arabic{
direction: rtl;
}
#form1.arabic{
direction: rtl;
}
#form2.arabic{
direction: rtl;
}
#form3.arabic{
direction: rtl;
}
#form4.arabic{
direction: rtl;
}
#form5.arabic{
direction: rtl;
}
#form6.arabic{
direction: rtl;
}
#footer3.arabic{
direction: rtl;
}
#footer4.arabic{
direction: rtl;
}
#footer5.arabic{
direction: rtl;
}
#footer6.arabic{
direction: rtl;
}
#footer7.arabic{
direction: rtl;
}
#footer8.arabic{
direction: rtl;
}
#footer9.arabic{
direction: rtl;
}
#footer10.arabic{
direction: rtl;
}
#footer11.arabic{
direction: rtl;
}
#footer12.arabic{
direction: rtl;
}
#footer13.arabic{
direction: rtl;
}
#footer14.arabic{
direction: rtl;
}
#footer15.arabic{
direction: rtl;
}
#footer16.arabic{
direction: rtl;
}
#footer17.arabic{
direction: rtl;
}
#footer18.arabic{
direction: rtl;
}
#footer19.arabic{
direction: rtl;
}
#footer20.arabic{
direction: rtl;
}
#footer21.arabic{
direction: rtl;
}



.FORM button{
  background-image: linear-gradient(to right, #30b3ca, #2493cf);
  border-radius: 20px;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
}

.FORM button:active{
  opacity: 0.8;
}

.modal{
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open{
  opacity: 1;
  z-index: 999;
}

.model-inner{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  text-align: center;
  width: 380px;
}

.model-inner h2{
  margin: 0;
}

.model-inner p{
  line-height: 24px;
  margin: 10px 0;
}

.bf-head h1{
  font-size: 40px;
  color: #fff;
}

.bf-head p,.bf-col-6 p,.bf-col-3 p, .bf-col-12 p{
  color: #8b8b8b;
}

.bf-col-6 input,.bf-col-3 input,.bf-col-6 textarea,.bf-col-12 textarea,.bf-col-6 select{
  width: 100%;
  background-color: #8b8b8b;
  border: none;
  outline: none;
  padding: 10px;
  font-family: 'Baloo 2', cursive;
  margin-top: 5px;
  resize: none;
  color: #fff;
  border-radius: 10px;
}

.bf-body-box{
  padding: 20px;
}

.bf-head{
  text-align: center;
}

.bf-row{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.bf-col-12{
  width: 100%;
}

.bf-col-3{
  width: 30%;
}

.bf-col-6{
  width: 48%;
}

.bf-head{
  background-color: #767268;
  padding: 20px 10px;
}

.bf-head p{
  color: #fff;
}

.bf-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  padding: 20px 16px;
  background-color: #1d2228;
}

.bf-body{
  width: 500px;
  background-color: #ebebeb;
}

.center55{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.popup55{
  width: 350px;
  height: 300px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: -250px;
  margin-left: 240px;
  z-index: 2;
  text-align: center;
  opacity: 0;
  top: -200%;
  transform: translate( -50%, -50% ) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}

.popup55.active{
  opacity: 1;
  top: 50%;
  transform: translate( -50%, -50% ) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup55 .icon{
  margin: 5px 0;
  width: 50px;
  height: 50px;
  border: 2px solid #34f234;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}

.center550{
  padding: 10px 20px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.center550:hover{
  color: #111;
  background: #f5f5f5;
}

.popup55 .icon i,fa{
  font-size: 30px;
  color: #34f234;
}

.popup55 .title{
  margin: 5px 0;
  font-size: 30px;
  font-weight: 600;
}

.popup55 .descreiption{
  color: #222;
  font-size: 15px;
  padding: 5px;
}

.popup55 .dismiss-btn{
  margin-top: 15px;
}

.popup55 .dismiss-btn button{
  padding: 10px 20px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.popup55 .dismiss-btn button:hover{
  color: #111;
  background: #f5f5f5;
}

.popup55 > div{
  position: relative;
  top: 10px;
  opacity: 0;
}

.popup55.active > div{
  top: 0;
  opacity: 1;
}

.popup55.active .icon{
  transition: all 300ms ease-in-out 250ms;
}

.popup55.active .title{
  transition: all 300ms ease-in-out 300ms;
}

.popup55.active .descreiption{
  transition: all 300ms ease-in-out 350ms;
}

.popup55.active .dismiss-btn{
  transition: all 300ms ease-in-out 400ms;
}

.boxxx{
  color: #6f7072;
  background: #fff;
  border-radius: 10px;
  outline: none;
  border-color: #6f7072;
  font-size: 25px;
  font-weight: 600;
}